{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}


<div class="container">
  <h6 class="form"> add </h6>
  <div class="row justify-content-md-center">
      
<form action="{{ url_for('doctor.adddig',username=users.username) }}" method="post" enctype="multipart/form-data">  

         <dl>
    
    {{ render_field(form.symptoms) }}
    {{ render_field(form.recomendations) }}
    {{ render_field(form.submit) }}
    
       </dl>
  <p>
 
</form>

 
    </div>
    </div>

       {% for pat in digs %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
 
<div class="media text-muted pt-3">
<img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
 <strong class="d-block text-gray-dark">{{ pat.username }}</strong>
  
   
</p>
</div>
</div>
    {%- endfor %}

{% endblock %}
